body {
    padding: 30px;
}

.form-registration {
    background-color: lightgray;
    width: 40%;
    padding: 20px;
    max-width: 500px;
    border-radius: 15px;
}

.form-registration input {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    min-width: 300px;
    width: 100%;
}

.form-registration input.form-button {
    margin-top: 25px;
    width: 120px;
}

.form-registration input.error {
    background-color: rgb(233, 120, 120);
    border: 2px solid red;
}

.error-msg {
    font-size: 12px;
    color: red;
    margin: 0px;
    margin-top: -14px;
    visibility: hidden;
}

.error-msg.error {
    visibility: visible;
}